@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
}

body {
    background: #fff;
}

.search-block {
    /* width: 984px;
    height: 56px; */
}

.search__input-field {
    box-sizing: border-box;
    width: 380px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #EBEEF7;
    border-radius: 5px;
    padding: 16px 54px;
    background-image: url(../media/fi_search.svg);
    background-repeat: no-repeat;
    background-position: 18px 16px;
}

.search__dropdown {
    padding: 0px;
    gap: 10px;
}

.search__dropdown__select {
    box-sizing: border-box;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #EDEFF5;
    border-radius: 4px;
    padding: 12px 46px 12px 16px;
    background-image: url(../media/fi_chevron-down.svg);
    background-repeat: no-repeat;
    background-position: top 13.5px right 17px;
}

.ads-navigation {
    width: 984px;
    height: 40px;

    padding: 32px 0px 20px;
    gap: 24px;

    /* Grayscale/White */
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EBEEF7;
}

.ads__navigation {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.ads-dashboard {}

.ads__card {
    padding: 12px;
    gap: 24px;

    width: 984px;
    height: 104px;
    left: 0px;
    top: 52px;

    border-radius: 12px;
}

.ads__card__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 304px;
    height: 80px;
}

.ads__card__image {

    width: 80px;
    height: 80px;

    background: url(.png);
    position: center;
    border-radius: 8px;

    background: rgba(174, 179, 194, 1);
}

.ads__card__name {
    width: 208px;
    height: 48px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #191F33;
}

.ads__card__date {

    width: 132px;
    height: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #767E94;

}

.ads__card__price {

    width: 132px;
    height: 20px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #636A80;

}

.ads__card__price::before {
    content: "$";
}

.ads__card__activity {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 132px;
    height: 20px;
}

.active::after {
    padding-left: 8px;
    width: 40px;
    height: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #27C200;
    content: "Active";
}

.active::before {
    width: 18px;
    height: 18px;
    content: url('../media/active.svg');
}

.expire::after {
    padding-left: 8px;
    width: 40px;
    height: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FF4F4F;
    content: "Expire";
}

.expire::before {
    width: 18px;
    height: 18px;
    content: url('../media/expire.svg');
}

.ads__card__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 164px;
    height: 50px;
}

.ads__card__edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 50px;
    left: 0px;
    top: 0px;
    border: 0;
    color: #F5F7FA;
    border-radius: 4px;
}


.ads__card__edit__text {
    padding-left: 8px;

    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    color: #464D61;
}

.ads__drop__button {
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 10px;
    width: 50px;
    height: 50px;
    
    border-radius: 4px;
    border: none;

 
    background: url("../media/bldot.svg") center;
    background-color: #F5F7FA;
    background-repeat: no-repeat;
}

.ads__drop__button:focus {
    background: url("../media/whdot.svg") center;
    background-color: #00AAFF;
    background-repeat: no-repeat;
}

.dropdown {
    float: right;
    margin-left: 12px;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-sizing: border-box;
  
    padding: 12px;
    width: 234px;
    height: 140px;
    background: #FFFFFF;
    border: 1px solid #EBEEF7;
    box-shadow: 0px 5px 24px rgba(0, 34, 51, 0.04);
    border-radius: 10px;

    min-width: 160px;
    overflow: auto;
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    text-decoration: none;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    width: 200px;
    height: 36px;
    color: #464D61;
}

.dropdown a:hover {
    color: #00AAFF;
    width: 200px;
    height: 36px;
    background: #E8F7FF;
    border-radius: 4px;
}

.show {
    display: block;
}

.ads__button__dot{
    display: inline-block;
    margin:auto;
}

