@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
}

body {
    background: #fff;
}

.search-block {
    width: 100%;
    max-width: 984px;
    /* height: 56px; */
    padding: 0px;
    gap: 27px;
    font-size: 14px;
}

.search__input-field:focus {
    outline: none;
    border: 1px solid #00AAFF;
}

.search__input-field {
    box-sizing: border-box;
    width: 100%;
    max-width: 384px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #EBEEF7;
    border-radius: 5px;
    padding: 16px 54px;
    background-image: url(../media/fi_search.svg);
    background-repeat: no-repeat;
    background-position: 18px 16px;
}

.search__dropdown {
    width: 100%;
    max-width: 512px;
}

.search__dropdown__select {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    width: 170px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #EDEFF5;
    border-radius: 4px;
    padding: 12px 47px 12px 16px;
    background-image: url(../media/fi_chevron-down.svg);
    background-repeat: no-repeat;
    background-position: top 13.5px right 17px;
    cursor: pointer;
}

/* .opened {
    background-color: aqua;
} */

.search__dropdown__select.opened::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    right: 17px;
    top: auto;
    background-image: url(../media/fi_chevron-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: inherit;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #F5F7FA;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.ads-navigation {
    width: 984px;
    height: 40px;

    padding: 32px 0px 20px;
    gap: 24px;

    /* Grayscale/White */
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EBEEF7;
}

.ads__navigation {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.ads-dashboard {
    width: 100%;
    max-width: 984px;
}

.ads__card {
    padding: 12px;
    gap: 24px;

    width: 984px;
    height: 104px;
    left: 0px;
    top: 52px;

    border-radius: 12px;
}

.ads__card__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 304px;
    height: 80px;
}

.ads__card__image {

    width: 80px;
    height: 80px;

    background: url(.png);
    position: center;
    border-radius: 8px;

    background: rgba(174, 179, 194, 1);
}

.ads__card__name {
    width: 208px;
    height: 48px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #191F33;
}

.ads__card__date {

    width: 132px;
    height: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #767E94;

}

.ads__card__price {

    width: 132px;
    height: 20px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #636A80;

}

.ads__card__price::before {
    content: "$";
}

.ads__card__activity {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 132px;
    height: 20px;
}

.active::after {
    padding-left: 8px;
    width: 40px;
    height: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #27C200;
    content: "Active";
}

.active::before {
    width: 18px;
    height: 18px;
    content: url('../media/Check.svg');
}

.expire::after {
    padding-left: 8px;
    width: 40px;
    height: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FF4F4F;
    content: "Expire";
}

.expire::before {
    width: 18px;
    height: 18px;
    content: url('../media/X.svg');
}

.ads__card__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 164px;
    height: 50px;
}

.ads__card__edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 50px;
    border: 0;
    /* color: #F5F7FA; */
    border-radius: 4px;

    /* padding-left: 52px; */
    padding: 0 20px 0 52px;

    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    color: #464D61;
    background-color: #F5F7FA;

    background-image: url(../media/PencilLine.svg);
    background-repeat: no-repeat;
    background-position: left 20px top 50%;
    cursor: pointer;
}

.ads__card__edit:hover {
    background-color: #00AAFF;
    background-image: url(../media/PencilLine-active.svg);
    color: #fff;
}

/* ads__card__edit */
/* 
.ads__card__edit__text {
    padding-left: 8px;

    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    color: #464D61;
} */

.ads__drop__button {

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 10px;
    width: 50px;
    height: 50px;

    border-radius: 4px;
    border: none;

    background-color: #F5F7FA;
    background-image: url(../media/DotsThree.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.ads__drop__button:hover,
.ads__drop__button.opened {
    background-image: url(../media/DotsThree-active.svg);
    background-color: #00AAFF;
}

.dropdown {
    float: right;
    margin-left: 12px;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-sizing: border-box;

    padding: 12px;
    width: 234px;
    height: 140px;
    background: #FFFFFF;
    border: 1px solid #EBEEF7;
    box-shadow: 0px 5px 24px rgba(0, 34, 51, 0.04);
    border-radius: 10px;

    min-width: 160px;
    overflow: auto;
    right: 0;
    z-index: 1;
    margin: 5px 0;
}

.dropdown-content a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    text-decoration: none;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    width: 200px;
    height: 36px;
    color: #464D61;
}

.dropdown a:hover {
    color: #00AAFF;
    width: 200px;
    height: 36px;
    background: #E8F7FF;
    border-radius: 4px;
}

.show {
    display: block;
}

.ads__button__dot {
    display: inline-block;
    margin: auto;
}

@media (min-width: 1200px) {
    /* Стили для устройств с большой шириной экрана >1200px */
}

@media (min-width: 767px) and (max-width:1199px) {
    /* Стили для устройств с маленьким экраном, размерами 768px - 1199px (планшеты и подобные) */

    .search__input-field {
        max-width: 280px;
    }

    .search-block {
        max-width: 578px;
        font-size: 10px;
        gap: 4px;
    }

    .search__dropdown {
        max-width: 431px;
    }

    .search__dropdown__select {
        max-width: 115px;
    }

    .ads-dashboard {
        width: 581px;
    }

    .ads-navigation {
        width: 578px;
        height: 40px;
    }

    .ads__card {
        width: 581px;
        height: 104px;
        gap: 5px;
    }

    .ads__card__info {
        width: 190px;
        height: 79px;
        gap: 4px;
    }

    .ads__card__image {

        width: 70px;
        height: 70px;


    }

    .ads__card__name {
        width: 111px;
        height: 75px;

        font-size: 14px;
    }

    .ads__card__date {

        width: 80px;
        height: 20px;
        font-size: 12px;
    }

    .ads__card__price {

        width: 80px;
        height: 20px;
        font-size: 12px;
    }

    .ads__card__price::before {
        content: "$";
    }

    .ads__card__activity {
        width: 60px;

    }

    .active::after {
        font-size: 12px;
    }

    .active::before {
        width: 15px;
        height: 15px;
    }

    .expire::after {
        font-size: 12px;
    }

    .expire::before {
        width: 15px;
        height: 15px;
    }

    .ads__card__buttons {
        width: 115px;
        height: 35px;
        margin-left: 24px;
    }

    .ads__card__edit {
        width: 75px;
        height: 35px;

        padding: 0 20px 0 52px;

        font-size: 12px;

        background-position: left 14px top 50%;
        background-size: 16px, 16px;
    }

    .ads__card__edit:hover {
        background-size: 16px, 16px;
    }

    .ads__drop__button {
        width: 35px;
        height: 35px;
        background-size: 11px, 11px;
    }

    .ads__drop__button:hover,
    .ads__drop__button.opened {
        background-size: 11px, 11px;
    }

    .dropdown-content {
        width: 200px;
        height: 133px;

    }

    .dropdown-content a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        text-decoration: none;
        background: #FFFFFF;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;

        width: 171px;
        height: 31px;
        color: #464D61;
    }

    .dropdown a:hover {
        color: #00AAFF;
        width: 171px;
        height: 31px;
        background: #E8F7FF;
        border-radius: 4px;
    }

    .show {
        display: block;
    }

    .ads__button__dot {
        display: inline-block;
        margin: auto;
    }

}

@media (min-width: 576px) {}